.CardContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    .Card{
        border: 1px solid black;
        width: 300px;
        min-height: 400px;
        img{
            width: 300px;
            height: 300px;
        }

    }
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .image{
    width: 200px;
    height: 200px;
  }